
<h1>Scrabble Score</h1>

<p>Enter a word and it will return your score.</p>

<form action='/output' method='get'>
  <div class="form-group">
    <label for="userWord">Word</label>
    <input id="$userWord" name="userWord" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Submit</button>
</form>
